# Ignore objects and archives
*.swp
*.[oa]
*.cppobj
*.cobj
# Ignore specific files
.DS_Store
._*
Version.h
test_expat
test_gdal
Makefile
GOSS-config
# Ignore user specific Xcode files
GOSS.xcodeproj/project.xcworkspace
GOSS.xcodeproj/xcuserdata

