# Ignore objects and archives
*.swp
*.[oa]
*.cppobj
*.cobj
# Ignore specific files
.DS_Store
._*

# Ignore user specific Xcode files
build/
bin/
DerivedData
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
*.xcuserstate
Common/tinyxml
~$*
.*rc_*
.deps

# Ignore version files created by cmake
SarcasticVersion.h
materialise_version.h
CTTVersion.h
BircsVersion.h
Version.h
SartraceVersion.h
tdpoclVersion.h
cphdShell_version.h
readCPHD_Version.h
