# Ignore objects and archives
*.swp
*.[oa]
*.cppobj
*.cobj
# Ignore specific files
.DS_Store
._*
SarcasticVersion.h
Makefile
# Ignore user specific Xcode files
GOSS.xcodeproj/project.xcworkspace
GOSS.xcodeproj/xcuserdata

sarcastic.xcodeproj/project.xcworkspace/contents.xcworkspacedata
sarcastic.xcodeproj/project.xcworkspace/xcshareddata/GOSS.xccheckout
sarcastic.xcodeproj/project.xcworkspace/xcshareddata/sarcastic.xccheckout
sarcastic.xcodeproj/project.xcworkspace/xcuserdata/darren.xcuserdatad/UserInterfaceState.xcuserstate
sarcastic.xcodeproj/project.xcworkspace/xcuserdata/darren.xcuserdatad/WorkspaceSettings.xcsettings
sarcastic.xcodeproj/xcuserdata/darren.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
sarcastic.xcodeproj/xcuserdata/darren.xcuserdatad/xcschemes/sarcastic.xcscheme
sarcastic.xcodeproj/xcuserdata/darren.xcuserdatad/xcschemes/xcschememanagement.plist
*.xcscheme
Version.h
SartraceVersion.h
